@mixin btn-white-no-bg {
  border-radius: 30px;
  width: auto;
  color: white;
  border: 1px solid white;
}

@mixin main-title-font {
  font-family: 'Norteworthy';
}

@mixin shadow-panel{
  box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
}